<div class="results-block">
  <%= render 'layouts/message' %>
</div>

<% if @friends %>
  <div class="card card-header results-block">
    <% @friends.each do |friend| %>
      <ul>
        <li>
          <strong>Name: </strong> <%= friend.full_name %>
          <strong>Email: </strong> <%= friend.email %>
          <%= link_to "View Profile", "#", class: "btn btn-sm btn-success" %>
          <%= link_to 'Follow friend?', '#',
                      class: "btn btn-sm btn-success", method: :post %>
        </li>
      </ul>
    <% end %>
  </div>
<% end %>