<h1>Friends</h1>

<div class="search-area">
  <h3>Search Friends</h3>
  <!--  Adding remote: true, turns it into an ajax request-->
  <%= form_tag search_friend_path, remote: true, method: :get do %>
    <div class="form-group row">
      <div class="col-sm-9 no-right-padding">
        <%= text_field_tag :friend, params[:friend], placeholder: "Search Name or Email", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-sm-3 no-left-padding">
        <%= button_tag type: :submit, class: "btn btn-success" do %>
          <%= fa_icon 'search 2x' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div id="friend-results">

</div>


<% if !@friends.empty? %>

  <div class="row">
    <div class="col-9">
      <table class="table table-bordered table-dark table.hover">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <% @friends.each do |friend| %>
          <tr>
            <td><%= friend.first_name + ' ' + friend.last_name %></td>
            <td> <%= friend.email %> </td>
            <td><%= link_to "View Profile", user_path(friend), class: "btn btn-success" %></td>
            <td><%= link_to 'Stop Following', friendship_path(friend), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>

  <h2>You currently do not have any friends listed</h2>

<% end %>